* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  scroll-behavior: smooth;
}
body {
  background-color: white;
  animation-name: textzoom;
  animation-duration: 0.3s;
  animation-timing-function: linear;
  animation-iteration-count: 2;
  animation-direction: alternate;
  animation-delay: 0.5s;
  text-justify: auto;
  overflow-x: hidden;
}

@keyframes textzoom {
  0% {
    font-size: 16px;
  }
  100% {
    font-size: 17px;
  }
}

.links,
.logo,
.action-btn {
  animation: anim 0.3s 1;
  animation-delay: 0.5s;
}

@keyframes anim {
  0% {
    margin-top: 0;
  }
  100% {
    margin-top: 40px;
  }
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
  font-size: 1rem;
}
.links a:hover {
  color: lightslategray;
}
header {
  position: relative;
  padding: 0 2rem;
}
.navbar {
  width: 100%;
  height: 60px;
  /* max-width: 1200px; */
  margin: 1rem auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar ul {
  margin-right: 10px;
}
.logo {
  /* width: 5rem; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.7rem 1.3rem;
  /* background-color: aqua; */
}
.navbar .logo a {
  font-size: 1.7rem;
  font-weight: bold;
  color: rgba(27, 183, 245, 0.924);
}
.navbar .links {
  display: flex;
  gap: 4rem;
  font-size: 1.5rem;
}
.navbar .toggle-btn {
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}
.action-btn {
  /* background-color: rgb(189, 7, 38); */
  color: #fc083d;
  margin-right: 20px;
  padding: 0.8rem 1.8rem;
  border-radius: 8px;
  border: 2.5px solid #fc083d;
  outline: none;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: scale 0.2 ease;
}
.action-btn:hover {
  scale: 1.05;
  color: rgba(27, 183, 245, 0.924);
  border: 2.5px solid rgba(27, 183, 245, 0.924);
}
.action-btn:active {
  scale: 0.95;
}

.dropdown_menu {
  display: none;
  position: absolute;
  right: 2rem;
  height: 0;
  top: 60px;
  width: 300px;
  background-color: transparent;
  backdrop-filter: blur(15px);
  border-radius: 10px;
  /* border: 2px solid gray; */
  /* box-shadow: #fc083d; */
  overflow: hidden;
  background-color: #f9f9f9;
  transition: height 0.2ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.dropdown_menu.open {
  height: 240px;
}
.dropdown_menu li {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dropdown_menu .action-btn {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.head {
  display: flex;
  width: 100%;
  height: 650px;
  /* background-color: #4CAF50; */
  justify-content: space-around;
}
.ambulance {
  display: flex;
  flex-direction: row;
  width: 50%;
  height: 600px;
  margin-top: 40px;
  background-image: url(/images/Screenshot\ 2024-07-04\ at\ 10.19.02\ PM.png);
  object-fit: fill;
}
.container {
  display: flex;
  flex-direction: column;
  max-width: 450px;
  height: 550px;
  margin: 40px auto;
  /* padding: 20px; */
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.container:hover {
  box-shadow: 0 0 10px #fc083d;
}
.header {
  /* background-color: #333; */
  color: black;
  padding: 10px;
  text-align: center;
}
.sub {
  font-size: 1.3rem;
  padding: 10px;
  text-align: center;
  color: rgba(27, 183, 245, 0.924);
  font-weight: bold;
}
.header h1 {
  margin: 0;
}
.content {
  padding: 20px;
  text-align: center;
}
.button {
  background-color: #fc083d;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 15px 100px;
  font-size: 16px;
  cursor: pointer;
  margin: 30px auto;
  transition: all 1 ease-in;
}
.button a {
  color: aliceblue;
}
.button:hover {
  background-color: #e00534;
  letter-spacing: 3px;
}
.phone-number {
  border: 2px solid #e00534;
  font-size: 19px;
  font-weight: bold;
  color: #e00534;
  padding: 12px 77px;
  border-radius: 10px;
}
.phone-number:hover {
  border: 2px solid rgba(27, 183, 245, 0.924);
  color: rgba(27, 183, 245, 0.924);
  letter-spacing: 2px;
}
.medical-services {
  display: flex;
  color: white;
  flex-direction: column;
  align-items: center;
  max-width: 80%;
  height: 340px;
  margin: 40px auto;
  padding: 20px;
  background: linear-gradient(to right, #2db7f8, #f619a1);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.medical-services h2 {
  margin-top: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}

.medical-services p {
  /* margin-bottom: 10px; */
  text-align: center;
}
.comp {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 500px;
  width: 90%;
  /* background-color: rebeccapurple; */
}

.service-link {
  height: 230px;
  width: 200px;
  background-color: whitesmoke;
  border-radius: 10px;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px gainsboro;
}

.service-link img p {
  justify-content: center;
  font-size: 2rem;
}
.service-link p {
  color: #e00534;
}
.service-link:hover {
  background-color: #fa89e2;
}
.choose {
  position: absolute;
  margin-top: 475px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
  /* justify-content: center; */
  width: 80%;
  height: 220px;
  /* background-color: #2db7f8; */
}

.headd {
  display: flex;
  align-items: center;
  height: 50px;
  /* background-color: #e00534; */
  color: black;
  font-weight: bold;
}

.choose-us {
  display: flex;
  flex-direction: row;
  height: 150px;
  justify-content: space-between;
  align-items: center;
  /* background-color: #a7e823; */
  width: 100%;
}
.subb {
  display: flex;
  height: 120px;
  width: 23%;
  /* background-color: aqua; */
}
.subb img {
  align-items: center;
}
.subb p {
  color: black;
  margin-top: 35px;
  font-size: 1rem;
  align-items: center;
  font-weight: bold;
}

.inffo {
  margin-top: 700px;
  position: absolute;
  display: flex;
  flex-direction: row;
  height: 360px;
  width: 100%;
  /* background-color: #2db7f8; */
  background-image: url(/images/3.jpeg);
  background-size: contain;
}

.about {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 360px;
  width: 25%;
  /* background-color: yellow; */
  border: 1px solid white;
}
.fl {
  text-align: center;
  height: 340px;
  width: 90%;
  /* background-color: #e00534; */
  color: white;
  font-size: 1.2rem;
}
.fl a {
  color: white;
  text-decoration: none;
  cursor: pointer;
}
.fl h4 {
  color: rgb(164, 161, 161);
}
.top {
  font-size: 1.3rem;
  margin-right: 1000px;
  text-align: left;
  /* width: 10%; */
  margin-top: 660px;
  /* background-color: #2db7f8; */
  text-decoration: none;
  cursor: pointer;
  color: gray;
}
.top:hover {
  color: rgb(73, 72, 72);
}
.last {
  margin-top: 1150px;
  height: 300px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  position: absolute;
  width: 100%;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
}
.foot {
  /* background-color: #e00534; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 300px;
  width: 34%;
}
.foot_last {
  text-align: center;
  height: 300px;
  width: 34%;
  /* background-color: brown; */
  /* border: 1px solid #ddd; */
}
.foot_last p {
  margin-top: 10px;
  font-weight: bold;
  font-size: 1.2rem;
  color: darkgrey;
}
.foot_last a {
  font-size: 0.9rem;
}
.foot_last a:hover {
  color: #e00534;
  text-decoration: underline;
}
.foot_info {
  text-align: center;
  /* background-color: #fa89e2; */
  border: 1px solid #ddd;
  width: 50%;
  height: 300px;
  text-decoration: none;
}
.foot_info a {
  font-size: 0.9rem;
}
.foot_info p {
  margin-top: 10px;
  font-weight: bold;
  font-size: 1.2rem;
  color: darkgrey;
}
.foot_info a:hover {
  color: #e00534;
  text-decoration: underline;
}
.copyright {
  display: flex;
  margin-top: 1470px;
  position: absolute;
  text-align: center;
  align-items: center;
  height: 50px;
  color: rgb(142, 142, 142);
  font-size: 1.1rem;
  /* background-color: #2db7f8; */
}
/* For desktop */
/* @media (min-width: 1200px) {
  .info {
    gap: 40px;
  }
}

/* For tablet */
@media (min-width: 768px) and (max-width: 1199px) {
  .comp {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    height: 1000px;
    gap: 2rem;
  }
  .choose {
    margin-top: 1420px;
  }
  .inffo {
    margin-top: 1650px;
    height: 390px;
  }
  .about {
    height: 380px;
  }
  .fl {
    height: 360px;
  }
  .top {
    display: block;
  }
  .last {
    margin-top: 2090px;
  }
  .copyright {
    margin-top: 2400px;
  }
}

/* For mobile */
@media (max-width: 767px) {
  .comp {
    margin-top: 90px;
    height: 1000px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .choose {
    margin-top: 1600px;
    height: 500px;
  }
  .choose-us {
    flex-direction: column;
    height: 500px;
    gap: 0.2rem;
    justify-content: center;
  }
  .subb {
    width: 70%;
    height: 120px;
  }
  .service-link {
    height: 300px;
    width: 270px;
  }
  .service-link img {
    height: 230px;
    width: 270px;
  }
  .inffo {
    margin-top: 2150px;
    flex-direction: column;
    width: 380px;
    height: 1480px;
  }
  .about {
    width: 385px;
    height: 380px;
  }
  .fl {
    width: 350px;
    height: 350px;
  }
  .last {
    flex-direction: column;
    width: 380px;
    margin-top: 3650px;
    height: 900px;
  }
  .foot {
    width: 380px;
  }
  .foot_last {
    width: 380px;
  }
  .foot_info {
    width: 380px;
  }
  .copyright {
    margin-top: 4570px;
  }
}

/* //media query for responsive web designs */

@media (max-width: 992px) {
  .navbar .links,
  .navbar .action-btn,
  .ambulance {
    display: none;
  }
  .medical-services {
    height: 400px;
  }
  .navbar .toggle-btn {
    display: block;
  }
  .dropdown_menu {
    display: block;
  }
}
@media (max-width: 552px) {
  .dropdown_menu {
    width: unset;
    left: 2rem;
  }
}
